@using QuanLyKhachSan.Models;
@model QuanLyKhachSan.Models.Role

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    DataContext db = new DataContext();
    var permissions = db.Permission.ToList();
}

<link href="~/Content/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    New Role
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="@Url.Action("Create", new { Action ="Create" })">New User</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                @using (Html.BeginForm())
                    {
                    @Html.AntiForgeryToken()

                    <div class="row form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.permission, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.permission, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.permission, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Permission</label>
                            <div class="col-md-8">
                                <div class="form-line">
                                    <select class="form-control show-permission" name="list" multiple>
                                        @foreach(Permission permission in permissions)
                                        {
                                            <option value="@permission.Id">@permission.name</option>
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div class="row clearfix">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="~/Content/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Content/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $('.show-permision').selectpicker({
            size: 12
        });
    })
</script>