@model IEnumerable<QuanLyKhachSan.Models.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Manage Room
                </h2>

                <ul class="header-dropdown m-r--5">
                    <a href="javascript:void(0);" style="position: relative; top: 4px;"><li class="material-icons">search</li></a>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="@Url.Action("Create", new { Action ="Create" })">New Room</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">

                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                           
                            <td>
                                @{
                                    var type = "A";
                                    if (item.type == 2)
                                    {
                                        type = "B";
                                    }
                                    if (item.type == 3)
                                    {
                                        type = "C";
                                    }
                                    if (item.type == 4)
                                    {
                                        type = "D";
                                    }
                                    if (item.type == 5)
                                    {
                                        type = "F";
                                    }
                                  
                                }
                                @type
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>

                            <td>
                                @{
                                    var status = "Available";
                                    if(item.status == 1)
                                    {
                                        status = "Using";
                                    }
                                    if (item.status == 2)
                                    {
                                        status = "Using";
                                    }
                                }
                                @status
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect">1</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>